- var env = "prod"
doctype
html
	title eschack
	meta(charset="utf-8")
	link(rel="stylesheet" href="dist/eschack.css" type="text/css")
	link(rel="stylesheet" href="dist/ui.css" type="text/css")
	
	body
		.column#column-left
			#canvas-container
				#loader
					- for(var i = 0; i < 9; i++){
						.loader-block
					- }
				canvas#canvas-second
				canvas#canvas-main
			#logbox
		.column#column-right
			.info-container.moveable.resizeable.moveable-anchor#info-container-player
			.info-container.moveable.resizeable.moveable-anchor#info-container-game
			#info-container-other-life-wrap.moveable.resizeable
				strong.menu-title.moveable-anchor Enemies
				.info-container#info-container-other-life
			.info-container.moveable.resizeable#info-container-other-misc
				strong.menu-title.moveable-anchor Examine
			.info-container.moveable.resizeable#info-container-inventory
				strong.menu-title.moveable-anchor Inventory
			.info-container.moveable.resizeable#info-container-equipment
				strong.menu-title.moveable-anchor Equipment
		#bottom-row
			#settings
				h3 Controls
				.content
					ul
						li numpad or vi keys: movement
						li num5: rest turn
						li g: pick up item
						li d: drop item
						li w: equip item
						li t: unequip item
						li s: enter stairs
				//a.github-button(data-count-api="/repos/jtuu/eschack#subscribers_count" data-count-href="jtuu/eschack/watchers" data-style="mega" data-icon="octicon-eye" href="https://github.com/jtuu/eschack/") Watch
				//script#github-bjs(async defer src="https://buttons.github.io/buttons.js")
			#todo
				h3 TODO
				.content
					ul
						each val in todo
							li=	 val


		script(src="https://rawgit.com/pieroxy/lz-string/master/libs/lz-string.min.js")
		if(env === "dev")
			script(src="misc/eschack.js")
		else
			script(src="dist/eschack.min.js")
